@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..100&display=swap');

/* * {
    box-sizing: border-box;
} */


body {
    background-color:hsl(214, 17%, 92%);
    font-family: "Barlow Semi Condensed";
    margin:0;
    padding: 2rem;
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
   overflow-x: hidden;
}

 .Main-Container {
        grid-template-areas: "card1"
                             "card1"
                             "card2"
                             "card4"
                             "card5"
                             "card5"
                             "card3"
                              "card3";
        width: 100%;
        display: grid;
        gap: 1.5rem;
        overflow-x: hidden;
    }



.Profile{
    display: flex;
    align-items: center;
    gap: 1rem;
   
}
.Name {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    z-index: 50;
}
.card1 {
    grid-area: card1;
    background-color: hsl(263, 55%, 52%);
    border-radius: 10px;
    padding: 3rem;
    
    position: relative;
    box-shadow: 0 6px 16px hsl(0%, 0%, 0.15%);
}
.profile-pic{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border:  2px solid  hsl(264, 82%, 80%);
    margin-bottom: 0;
}
.quotation-mark {
    position: absolute;
    right: 4rem;
    top:0;
    z-index: 50;

}
.card1 h4 {
    font-size: 0.80rem;
    margin: 0;
    color:hsl(214, 17%, 92%);
    font-weight: 600;
}
.card1 h5 {
    font-size: 0.60rem;
    margin: 0;
    font-weight: 500;
    opacity: 0.95;
    color:  hsl(214, 17%, 92%);
   
}
.card1 article p:first-child {
    color: hsl(0, 0%, 100%);
    padding: 0;
    margin: 0;
    font-size: 1rem;
    gap: 0.5rem;
     margin-bottom: 1rem;
     margin-top: 1rem;
     z-index: 100;
     position: relative;
     font-weight: 600;
}
.card1 article p:last-child {
    color: hsl(214, 17%, 92%);
    padding: 0;
    margin: 0;
    font-size: 0.85rem;
    opacity: 0.50;
    
}

.card2 {
    grid-area: card2;
    background-color:hsl(224, 10%, 45%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 2rem;
    position: relative;
    height: 13.5rem;
    box-shadow: 0 6px 16px hsl(0%, 0%, 0.15%);
}
.card2 img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border:  2px solid  hsl(224, 10%, 45%);
    margin-bottom: 0;
}
.card2 h4 {
    font-size: 0.80rem;
    margin: 0;
    color: hsl(214, 17%, 92%);
}
.card2 h5 {
    font-size: 0.60rem;
    margin: 0;
    opacity: 0.95;
    color: hsl(214, 17%, 92%);
   
}
.card2 article p:first-child {
    color: hsl(0, 0%, 100%);
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    gap: 0.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1.2rem;
}
.card2 article p:last-child {
    color: hsl(214, 17%, 92%);
    padding: 0;
    margin: 0;
    font-size: 0.90rem;
     opacity: 0.50;
}
.card3 {
    grid-area: card3;
    background-color:hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 2rem;
    position: relative;
    box-shadow: 0 6px 16px hsl(0%, 0%, 0.15%);
}
.card3 img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border:  2px;
    margin-bottom: 0;
}
.card3 h4 {
    font-size: 0.80rem;
    margin: 0;
    color: hsl(217, 19%, 35%);
}
.card3 h5 {
    font-size: 0.60rem;
    margin: 0;
    opacity: 0.95;
    color:hsl(224, 10%, 45%) ;
   
}
.card3 article p:first-child {
    color: hsl(217, 19%, 35%);
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    gap: 0.5rem;
    font-weight: 600;
     margin-bottom: 1rem;
     margin-top: 1.2rem;
}
.card3 article p:last-child {
    color: hsl(0, 0%, 7%);
    padding: 0;
    margin: 0;
    font-size: 0.85rem;
     opacity: 0.50;
}
.card4 {
    grid-area: card4;
    background-color:hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 2rem;
    position: relative;
    height: 10rem;
    box-shadow: 0 6px 16px hsl(0%, 0%, 0.15%);
}
.card4 img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border:  2px;
    margin-bottom: 0;
}
.card4 h4 {
    font-size: 0.80rem;
    margin: 0;
    color: hsl(219, 29%, 14%);
    font-weight: 600;
}
.card4 h5 {
    font-size: 0.60rem;
    margin: 0;
    opacity: 0.95;
    color: hsl(217, 19%, 35%);
   
}
.card4 article p:first-child {
    color: hsl(219, 29%, 14%);
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    gap: 0.5rem;
    font-weight: 600;
     margin-bottom: 1rem;
    margin-top: 1.2rem;
}
.card4 article p:last-child {
    color: hsl(0, 0%, 7%);
    padding: 0;
    margin: 0;
    font-size: 0.75rem;
    opacity: 0.50;
}
.card5 {
    grid-area: card5;
    background-color:hsl(0, 0%, 7%);
    border-radius: 10px;
    padding: 2rem;
    position: relative;
   height: auto;
    box-shadow: 0 6px 16px hsl(0%, 0%, 0.15%);
}
.card5 img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border:  2px solid hsl(263, 55%, 52%);
    margin-bottom: 0;
}
.card5 h4 {
    font-size: 0.80rem;
    margin: 0;
     opacity: 0.95;
     font-weight: 600;
    color:  hsl(214, 17%, 92%);
}
.card5 h5 {
    font-size: 0.60rem;
    margin: 0;
    opacity: 0.95;
    color:  hsl(214, 17%, 92%);
   
}
.card5 article p:first-child {
    color: hsl(214, 17%, 92%);
    padding: 0;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
    gap: 0.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
     margin-top: 1rem;
}
.card5 article p:last-child {
    color: hsl(0, 0%, 100%);
    padding: 0;
    margin: 0;
    font-size: 0.80rem;
    opacity: 0.50;
    margin-top: 1rem;
}


@media only screen and (min-width: 768px) {

.Main-Container {
    display: grid;
    
    grid-template-areas: "card1 card1 card2 card3" 
                         "card4 card5 card5 card3";
    /* width: 90%; */
    margin: 0 auto;
    
}   
.card1 {
    height: 16.5rem;
    padding: 2rem;
}
.card1 article p:first-child {
    font-size: 1rem;
    margin-top: 1.5rem;
}
.card1 article p:last-child {
    font-size: 0.85rem;
    margin-top: 2rem;

}
.card2 {
    height: 16.5rem;

}
.card2 article p:first-child {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.card2 article p:last-child {
    font-size: 1rem;
     opacity: 0.50;
    margin-top: 1.5rem;
}
.card4 {
    height: 16.5rem;
}
.card5 {
    height: 16.5rem;
}
.card3 {
    height: auto;
    border-radius: 10px;
    
}
.card3 article p:first-child {
    font-size: 1.3rem;
}
.card3 article p:last-child {
    font-size: 1.1rem;
}
.card4 {
    height: 15rem;
}
.card4 article p:first-child {
    font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
}
.card4 article p:last-child {
    font-size: 1rem;
    margin-top: 1.5rem;
}
.card5 {
    height: 15rem;
    border-radius: 10px;
}
.card5 article p:first-child {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}
.card5 article p:last-child {
    font-size: 0.85rem;
    margin-bottom: 2rem;
}
}